@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --theme: #2960ff;
  --primary: #000;
  --secondary: #fff;
  --shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.custom-input {
  border-width: 0;
  border-bottom-width: 1px;
  width: 100%;
  padding: 0.5rem 0rem;
  font-size: 0.8rem;
  opacity: 0.8;
}

.custom-input:focus {
  outline: none;
  opacity: 1;
  transition: all 0.2s;
}

.custom-input::placeholder {
  color: grey;
}

.charts-wrapper {
  width: 96%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  gap: 1.5rem;
  /* border-radius: 0.5rem;
  box-shadow: var(--shadow); */
  margin: auto;
  margin-bottom: 2rem;
}

.line-chart,
.pie-chart {
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  padding: 1.5rem;
  width: 48%;
  /* margin: 1rem; */
}

@media (max-width: 827px) {
  .charts-wrapper {
    flex-direction: column;
  }
  .line-chart,
  .pie-chart {
    width: 80%;
  }
}
